# This is my first R notebook

In [1]:
# Creation of variables
a=10
b<-20
30->c

all the above declarations carry same meaning

In [2]:
# Print the variables declared
a
b
c

[1] 10

[1] 20

[1] 30

In [3]:
# Second method to print
a;b;c

[1] 10

[1] 20

[1] 30

In [4]:
n<-16
n

[1] 16

In [5]:
7->n
n

[1] 7

if u assign the two values to the same variable it overwrites the value of that variable

In [6]:
rnorm(1)

[1] 0.3038875

The fn rnorm(1) generates a normal random variable with mean zero and variance unity

If  u simply type an equation and run it shows the value but doesnt stores it.

In [7]:
name <- "Carmen";n1<-10;n2<-100;m<-0.7
ls()

[1] "a"    "b"    "c"    "m"    "n"    "n1"   "n2"   "name"

In [8]:
ls(pat="m")

[1] "m"    "name"

In [9]:
ls(pat="^m")

[1] "m"

In [10]:
ls(pat="^n")

[1] "n"    "n1"   "n2"   "name"

In [14]:
ls.str()
# to show the details of the variables till now.

a :  num 10
b :  num 20
c :  num 30
m :  num 0.7
n :  num 7
n1 :  num 10
n2 :  num 100
name :  chr "Carmen"

In [16]:
?lm
# ? directs to the search and shows the required information.

In [18]:
# "?*" this command is wrong
help("*") #is correct

In [20]:
# mode() displays datatype of variable
x<-1
A<-"Gomphotherium";compar<-TRUE;z<-1i
mode(A);mode(compar);mode(z)

[1] "character"

[1] "logical"

[1] "complex"

what ever the mod ethe missing value is shown as NA(not available)
A very large numeric value can be specified with an exponential notation

In [21]:
N<-2.1e23
N

[1] 2.1e+23

NaN represents Not a Number

In [22]:
x<-5/0
x
exp(x)
exp(-x)
x-x

[1] Inf

[1] Inf

[1] 0

[1] NaN