# Understanding Basic Data Tpes and Data Structures in R

**Everything** in R is an object

R has 6 basic data types. (In addition to the first five listed below there is also raw which will not be discussed in this workshop)

- character
- number(real or decimal)
- integer
- logical
- complex

- character"a","swc"
- numeric(real or decimal)2,15,5
- integer 2L(the L tells R to store this as an integer)
- logical:TRUE/FALSE
- complex

- class()-what kind of object is it(high level)?
- type()-what is the object's data type (low level)?
- length()-how long it is? what about two dimensional object?
- attributes()-does it have any metadata?

In [4]:
# example
x<- 23
x
class(x)
typeof(x)
length(x)
attributes(x)

[1] 23

[1] "numeric"

[1] "double"

[1] 1

NULL

In [5]:
Y<-1:10
Y

 [1]  1  2  3  4  5  6  7  8  9 10

In [6]:
class(Y)
typeof(Y)
length(Y)
attributes(Y)

[1] "integer"

[1] "integer"

[1] 10

NULL

R has many **Data Structures** These include
- atomic vector
- list
- matrix
-